.place__title {
	margin: 0;
	padding: 0 0 48px;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 106%;
}

@media screen and (max-width: 823px) {
	.place__title {
		font-size: calc( (100vw - 375px)/(823 - 375) * (42 - 32) + 32px);
		width: 97%;
		line-height: 110%;
	}
}

@media screen and (max-width: 690px) {
	.place__title {
		padding: 0 0 32px 16px;
		width: 90%;
		line-height: 109%;
		font-size: 32px;
	}
}