.photo-grid {
    margin: 0 auto;
    max-width: 1184px;
    width: calc(100% - 2*48px);
    padding-top: 92px;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
	.photo-grid {
        max-width: 288px;
        padding-top: 64px;
	}
}