.photo-grid {
    margin: 0 auto;
    width: calc(100% - 2*48px);
    padding-top: 92px;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: calc(100% - 2*24px);
        padding-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: calc(100% - 2*16px);
        padding-top: 64px;
	}
}

/* Я не знаю, почему, но у меня вложенность кода соблюдена, я её исправила еще в первый раз. Странно, что у вас отоброжается иначе. Я бы приложила скрин, если бы была возможность. */