.cover__subtitle {
	max-width: 360px;
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	text-align: center;
	color: #FFFFFF;
	z-index: 1;
}

@media screen and (max-width: 320px) {
	.cover__subtitle {
		max-width: 288px;
		font-size: 14px;
		line-height: 114%;
		white-space: pre-line;
	}
}