.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    max-width: 720px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 94%;
        font-size: calc( (100vw - 375px)/(768 - 375) * (96 - 40) + 40px);
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: 90%;
        font-size: 40px;
        line-height: 110%;
    }
}