.intro {
    max-width: 690px;
    width: calc(100% - 2*148px);
    margin: 0;
    padding: 92px 0 0;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 92px 0 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        width: calc(100% - 24px*2);
        padding: 88px 0 0 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        width: calc(100% - 16px*2);
        padding: 64px 0 0 0;
        margin: 0 auto;
    }
}