.intro {
    width: calc(100% - 2*148px);
    margin: 0 auto;
    padding: 92px 0 0;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 92px 0 0;
        width: calc(100% - 48px*2);
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 24px*2);
        padding: 88px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - 16px*2);
        padding: 64px 0 0;
    }
}