.place__link {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	text-decoration-line: underline;
	color: #FFFFFF;
	transition: opacity 0.3s ease;
	padding: 0;
	margin: 0 0 48px;
}

.place__link:hover {
	opacity: 0.8;
}

@media screen and (max-width: 704px) {
	.place__link {
		padding: 0 0 32px 16px;
		max-width: 288px;
		margin: 0;
	}
}