.place__link {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #FFFFFF;
	transition: opacity 0.3s ease;
}

.place__link:hover {
	opacity: 0.8;
}

@media screen and (max-width: 560px) {
	.place__link {
		padding: 0 0 32px 16px;
		max-width: 288px;
	}
}