.cover__background {
	max-width: 1184px;
	min-height: 740px;
	background-image: url(../../../images/cover-trains.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cover__background:before {
	content: '';
	position: absolute;
	opacity: 0.3;
	background:#2A2C2F;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: opacity 0.3s ease;
}

.cover__background:hover:before {
	opacity: 0.8;
}

@media screen and (max-width: 1024px) {
	.cover__background {
		max-width: 1024px;
		min-height: 640px;
	}
}

@media screen and (max-width: 768px) {
	.cover__background {
		min-height: 480px;
		max-width: 768px;
	}
}