.cover__title {
	margin: 0;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 106%;
	text-align: center;
	color: #ffffff;
	padding: 0 0 32px;
	max-width: 560px;
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.cover__title {
			width: 73%;
			font-size: calc( (100vw - 375px)/(768 - 375) * (72 - 32) + 32px);
	}
}

@media screen and (max-width: 320px) {
	.cover__title {
		max-width: 288px;
		padding: 0 0 16px;
		font-size: 32px;
		line-height: 109%;
	}
}