.footer {
	margin: 0 auto;
	max-width: 1184px;
	display: flex;
	justify-content: space-between;
	padding: 92px 0 24px;
}

@media screen and (max-width: 1024px) {
	.footer {
		max-width: 928px;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		max-width: 720px;
		min-height: 18px;
		padding: 88px 0 24px;
	}
}

@media screen and (max-width: 320px) {
	.footer {
		max-width: 186px;
		min-height: 310px;
		padding: 64px 16px 0 24px;
		flex-direction: column;
		margin: 0;
	}
}