.footer {
	margin: 0 auto;
	width: calc(100% - 48px*2);
	display: flex;
	justify-content: space-between;
	padding: 92px 0 24px;
}

@media screen and (max-width: 1024px) {
	.footer {
		width: calc(100% - 48px*2);
	}
}

@media screen and (max-width: 768px) {
	.footer {
		width: calc(100% - 24px*2);
		min-height: 18px;
		padding: 88px 0 24px;
	}
}

@media screen and (max-width: 560px) {
	.footer {
		width: calc(100% - 16px*2);
		min-height: 310px;
		padding: 64px 0 0;
		flex-direction: column;
		margin: 0 auto;
	}
}