.place__url-heading {
	margin: 0;
	padding: 0 0 12px 0;
	color: #AAAAAA;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
}

@media screen and (max-width: 425px) {
	.place__url-heading {
		max-width: 288px;
		padding-left: 16px;
	}
}